.nav-bar {
  margin: 0;
  background-color: colors(light);
  
  &__item {
    list-style: none;
    margin-right: $s;
  }
  &__link {
    text-decoration: none;
    color: inherit;
  }

  @media screen and (min-width: 640px) {
    background-color: inherit;
    
    &__item {
      background-color: colors(light);
      color: colors(primary);
      margin-right: 0;
      margin-left: $s;

      &:hover {
        background-color: colors(secundary);
        color: colors(light);
      }
    }
  }
}