.slider {
  overflow: hidden;
  height: $slider-size;
  display: flex;
  align-items: center;
  position: relative;
  
  &__container {
    padding: 0;
    display: flex;
    width: $slider-size * 9;
    position: absolute;
  }

  &__item {
    list-style: none;
    height: 100%;
    width: $slider-size;
    margin: 0 $xs;
    cursor: pointer;
  }
}