.main-header__title, .nav-bar {
  padding: $s;
}

.main-header {
  background-color: colors(primary);

  &__title {
    color: colors(light);
    margin: 0;
  }

}

.nav-bar__item {
  padding: $xs $s;
}
