.screenshots__container {
  display: flex;
  align-items: center;
  margin-bottom: $s;
}

.arrow {
  color: colors(cta);
  width: 5%;
  flex-grow: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all .5s;

  &:hover {
    animation: .7s gun 1;
  }
}

.slider {
  width: 90%;
  flex-grow: 5;
}